<h1 class="admin-title">
  <%= link_to "Posts", administrate_posts_path %>
</h1>
<div class="main-content">
  <div class="row">
    <h2 class="admin-subtitle">Visusalizar Post</h2>
  </div>

  <%= render "form", post: @post, action: :show %>

</div>
