<section class="section all-posts-grid-section">
  <div class="container">
    <div class="title-container with-item">
      <h2 class="title">Listando todos os posts</h2>
    </div>
    <div class="grid" id="postGridHome">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
    <div class="navigation">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="grid-mobile">
      <div class="bullets" id="postGridHomeBullets"></div>
      <div><a href="#" class="button clean">ver mais</a></div>
    </div>
  </div>
</section>
